<!DOCTYPE html>
<html>
  <head>
  	<title>Release from Babylon | About Us</title>
  </head>
  <body>
  	<h1>About Us</h1>
  	<p>
  	  I am a former engineer now seeking to determine the means and motivation for the coming
  	  liberation of the Body of Christ. You are welcome to join me! =)
  	</p>
  </body>
</html>