<!DOCTYPE html>
<html>
  <head>
  	<title>Release from Babylon | Help</title>
  </head>
  <body>
  	<h1>Help</h1>
  	<p>
  	  This is the help page for the Ministry for the Freedom of the Body of Christ.
  	  Contact Allen Lao at ineedaslice@gmail.com
  	</p>
  </body>
</html>