<!DOCTYPE html>
<html>
  <head>
  	<title>Release from Babylon | Home</title>
  </head>
  <body>
  	<h1>Freedom for the Body of Christ</h1>
  	<p>
  	  This is the home page for the
  	  <a href="http://www.apple.com/">Freedom for the Body of Christ Ministry</a>
  	  which is aimed to provide the Body of Christ with information about the
  	  liberation of God's people.
  	</p>
    <p>
      The purpose of this web presence is to provide helpful information to the Body of Christ concerning the release of God's people from a state of spiritual bondage that has persisted until today. Unlike what many churches teach, it is not true that God has allowed His people to thrive in an unfettered state. Instead, He has allowed them to navigate their way in a hostile spiritual dominion that is the equivalent of Babylon. In other words, God's people have been in a state of exile.
    </p>
    <p>
      Why would this be the case? Isn't it true that after Jesus paid for our sins two thousand years ago that everything was accomplished? It is true that the price for our sins was fully paid, that is for certain. However, what most people fail to realize is that doesn't mean that it is a smooth ride the rest of the way. As a matter of fact, it is only the beginning.
    </p>
    <p>
      It turns out that the people of God have been in a state of exile ever since that time, and it is something that God has allowed for the purpose of refining their hearts. What this means is that we have to recognize that there is much more to the salvation picture than what we have been taught in our churches and from our pastors. As a matter of fact, what we have been brought up with is very much misguided and fallacious. That this is so is what I have established this ministry for. There will be much to learn for all of us along the way. Please join me and prepare for a thrilling journey.
    </p>
  </body>
</html>
